# * External repositories

# Original Screaming Channels repository. 
export SC_POC=$HOME/git/screaming_channels_poc

# Screaming Channels repository. 
export SC=$HOME/git/screaming_channels_ble

# Screaming Channels source directory containing Python modules. 
export SC_SRC=$SC/src

# Nimble firmware repository. 
export NIMBLE=$HOME/git/screaming_channels_nimble

# Nordic SDK (for compiling firmware in $SC_POC).
export NORDIC_SEMI_SDK=/opt/nRF5_SDK_14.2.0_17b948a

# * Interal paths

# Dataset repository root.
export REPO_ROOT="$(realpath .)"

# Dataset path.
export REPO_DATASET_PATH="${REPO_ROOT}/datasets"

# Experiments path.
export REPO_EXPE_PATH="${REPO_ROOT}/experiments"

# Scripts path.
export REPO_SCRIPTS_PATH="${REPO_ROOT}/scripts"

# * Custom Python environment

# Allows to import Screaming Channels Python modules in scripts here.
export PYTHONPATH=$SC_SRC

# Allows loading of custom libraries (e.g., HEL).
export LD_LIBRARY_PATH="/usr/local/lib"
